{namespace neos=TYPO3\Neos\ViewHelpers}

<f:if condition="{items}">
    <f:then>
        <ul class="no-bullet latest-news">
            {items -> f:format.raw()}
        </ul>
    </f:then>
    <f:else>
        <p><f:translate id="no-news" package="UpAssist.Neos.News"/></p>
    </f:else>
</f:if>

<f:if condition="{showMoreNewsButton}">
    <f:if condition="{newsPage}">
        <f:then>
            <neos:link.node node="{newsPage}" class="button">{f:translate(id:'latest.moreNewsPage', package:'UpAssist.Neos.News')}</neos:link.node>
        </f:then>
        <f:else>
            <p>{f:translate(id:'latest.noNewsPageSet', package:'UpAssist.Neos.News')}</p>
        </f:else>
    </f:if>
</f:if>

<f:section name="item">
    <li>
        <strong>{node.properties.publicationDate -> f:format.date(format: 'd-m-Y')}</strong>
        {node.properties.title} &mdash; {intro -> f:format.raw()}
        <neos:link.node node="{node}" class="latest-news-readmore">
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-angle-right fa-inverse fa-stack-1x"></i>
            </span>
        </neos:link.node>
    </li>
</f:section>